{% extends 'game/base.html' %}
{% load static %}

{% block title %}{{ current_quiz_object.quiz.title }}{% endblock %}

{% block content %}
<style>
  .question {
    display: none;
  }
</style>

<h1>{{ current_quiz_object.quiz.title }}</h1>

{% if current_question_id %}
<form action="" method="post" class="post-form">
  <button type="submit" class='button'>Continue</button>
  {% csrf_token %}
</form>
{% endif %}
<div class="question-block">
  {% for question in question_queryset %}
  <div class="question" id='q{{ question.pk }}'>
    {{ question.pk }}

    <form action="" method="post" class="post-form">
      {% for answer in question.answers.all %}
      <input type="radio" id="{{ answer.pk }}" name="answer" value="{{ answer.answer_text }}">
      <label for="{{ answer.pk }}">{{ answer.answer_text }}</label><br>
      {% endfor %}
      <button type="submit" class='button'>Next question</button>
      {% csrf_token %}
    </form>
  </div>
  {% endfor %}
</div>


<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="{% static 'game/js.js' %}"></script>
<script>
  var token = jQuery("[name=csrfmiddlewaretoken]").val();

  $('#q1').show();
  $(document).on('submit', '.post-form', function (e) {
    let id = $('input[type=radio][name=answer]:checked').attr('id');
    $('input[type=radio][name=answer]:checked').prop('checked', false);
    let url = "{% url 'game:quiz_detail' current_quiz_object.quiz.pk %}"
    // alert(url);
    console.log();
    //   Тут мы делаем +1 к куррент квещну и показываем его
    alert(id);
    $.ajax({
      url: url, // the endpoint
      type: "POST", // http method
      data: {
        chosen_answer_id: id,
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post'
      },
      dataType: 'json',
      success: function (data) {
        console.log(data);
        if (data.is_correct) {
          $('#q' + (data.current_question_id - 1)).hide();
          $('#q' + data.current_question_id).show();
          // $('#'+ data.current_question).toggle();
        }
        else {
          $('#q' + (data.current_question_id - 1)).hide();
          $('#q' + data.current_question_id).show();
        }
        if (data.current_question_id > '{{ current_quiz_object.quiz.questions.count }}'){
      window.location.href = "{{ current_quiz_object.quiz.get_absolute_result_url }}"
    }
  }

    });

  return false;
  });
</script>
{% endblock %}