{% extends 'game/base.html' %}

{% block title %}{{ quiz.title }}{% endblock %}

{% block content %}
 <h1>{{ quiz.title }}</h1>
 {% for question in object_list %}
    {{ question.question_text }}
    <ul>
        {% for answer in question.answers.all %}
            <li>
                {{ answer.answer_text }}
            </li>
        {% endfor %}
    </ul>
 {% endfor %}

 <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}